@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    /* Use Inter as the primary font, with a generic sans-serif as a fallback */
    font-family: 'Inter', sans-serif;
    margin: 0;
}

/* Header Bar */
header {
    background-color:#cdd6f5;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #000000;
}

.socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ig-icon {
    background-color: white;
    border-radius: 20%;
    width: 25px;
    height: 25px;
    fill: #000000;
    box-sizing: border-box;
}

.x-logo {
    background-color: white;
    border-radius: 20%;
    width: 25px;
    height: 25px;
    fill: #000000;
    padding: 0.25rem; /* 4px */
    box-sizing: border-box;
}

.fb-icon {
    background-color: white;
    border-radius: 20%; 
    width: 25px;
    height: 25px;
    fill: #000000;
    padding: 5px;
    box-sizing: border-box;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 1rem;
    margin-bottom: 15px;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 1rem;
    margin-bottom: 15px;
}

/* Main Header*/
.header-main {
    display: flex;
    height: 3.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center; 
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
}

.logo-container {
    display: block;
}

.logo-img {
    height: 3rem;
    width: auto;
    transition: height 0.2s ease-in-out; /* Adds a smooth transition effect */
}

.search-bar {
    flex-grow: 1;
    max-width: 70rem;
    height: 30px;
    border-radius: 1rem;
    border: 1px solid #000000;
}

.search-icon-container {
    height: 100%;
    width: 2.5rem;
    float: right; 
    border-left: 1px solid #000000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon-container svg {
    width: 1.25rem;
    height: 1.25rem; 
    fill: #f9e2af;
}

.icons-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.icons-container svg {
    width: 1.5rem;
    height: 1.5rem; 
    fill: #777777;
}

.icons-container svg:first-child {
    fill: #f5c2e7; 
}

/* Navigation Bar */
.nav-bar {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.nav-bar a {
    text-decoration: none;
    color: #000000;
    font-weight: 600; 
    font-size: 1rem; 
}

/* Responsive Design for smaller screens */
@media (max-width: 768px) {
    .header-main {
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1rem;
    }

    .search-bar {
        display: none;
    }

    .icons-container {
        gap: 1rem;
    }
}