body {
    font-family: Arial, sans-;

}

.socials-container {
    background-color:#cdd6f5;
    overflow: hidden;
    padding: 0;
    display: flex;
    
}

.ig-icon {
    background-color: white;
    border-radius: 20%;
}

.x-logo {
    fill: black;
    /* background-color: white; */
    border-radius: 20%;
    width: 35px;
    height: 35px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}