*, *::before, *::after {
    box-sizing: border-box;
}

:root {
            --light-blue: #CDD6F4;
            --purple: #B4BEFE;
            --star-pink: #F5C2E7;
            --yellow: #F9E2AF;
            --text-dark: #000000;
            --light-text: #777777;
            --light-underline: #C4C4C4;
            --lightest-gray: #EBEBEB;
            --dark-blue: #1E1E2E;
            --white: #FFFFFF;
            --card-border-color: #EBEBEB;

        }

.register-container {
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.3);
    padding: 50px 70px;
    border-radius: 12px;
    width: 450px;
    max-width: 100%;
}

h3 {
    font-size: 28px;
    font-weight: 600;
    padding: .3rem 0;
    border-bottom: 2px solid var(--lightest-gray);
    color: var(--purple);
    margin: 0;
}

.register-container form > input, .password-container > input {
    overflow: hidden;
    width: 100%;
    padding: 10px .75rem;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
    letter-spacing: 3%;
    border-bottom: 2px solid var(--light-underline);
    color: var(--light-text);
}

.register-container input::placeholder {
    color: #777777;
    font-weight: 500;
}

.password-container {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    margin-bottom: .3rem;
}

.password-container p {
    padding-left: .75rem;
    display: flex;
    width: 100%;
    margin: 0;
    font-weight: light;
    font-style: italic;
    font-size: 13px;
    color: #777777;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    align-items: center;
}

.btn-container button {
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 22px;
    height: 2.5rem;
    padding: 11px 39px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: var(--star-pink);
}

.btn-container button:hover {
    filter: brightness(.95);
    transform: translateY(-3px);
}

.register-container a {
    text-decoration: none;
}

.register-container form svg {
    transform: rotate(180deg);
    fill: #FFFFFF;
}