:root {
            --light-blue: #CDD6F4;
            --purple: #B4BEFE;
            --star-pink: #F5C2E7;
            --yellow: #F9E2AF;
            --text-dark: #000000;
            --gray: #777777;
            --light-gray: #C4C4C4;
            --lightest-gray: #EBEBEB;
            --dark-blue: #1E1E2E;
            --white: #FFFFFF;
            --card-border-color: #EBEBEB;
        }

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto;
}

.register-container > h3 {
    font-size: 28px;
    font-weight: 600;
    padding: .3rem 0;
    border-bottom: 2px solid var(--lightest-gray);
}

.register-options {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.register-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid var(--card-border-color);
    border-radius: 10px;
    padding: 64px 46px;
    max-width: 300px;
    max-height: 350px;
    text-align: center;
    transition: transform 0.2s ease;
}

.register-card:hover {
    transform: translateY(-5px);
}

.register-card h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
}

.register-card p {
    margin: 0;
    color: var(--gray);
    font-weight: 300;
}

.create-btn {
    background-color: var(--purple);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    padding: 9px 24px;
    box-shadow: 0 10px 20px rgba(196, 204, 245, 0.6);
}

.create-btn:hover {
    background-color: #8A95E5; /* Darker shade of --purple */
}

/* --- Responsive --- */
@media (max-width: 700px) {
    .register-options {
        flex-direction: column;
    }
    .register-card {
        width: 100%; /* Full width on mobile */
        height: auto;
    }
}