{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<title>FleaMart Home</title>
{% endblock %}



<main class="content-wrapper">
{% block body %}
    <div class="hero-img-container"></div>

    <div class="main-container"> 
        <aside class="sidebar">
            <section class="sidebar-section category-card">
            <h3>CATEGORY</h3>
                <ul class="category-list">
                    <li class="has-submenu">
                        <div class="category-item">
                            <span>Clothing</span>
                            <span class="toggle-icon">+</span>
                        </div>
                        <ul class="submenu">
                            <li><a href="#">Shirts</a></li>
                            <li><a href="#">Pants</a></li>
                            <li><a href="#">Dresses</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <div class="category-item">
                            <span>Grocery</span>
                            <span class="toggle-icon">+</span>
                        </div>
                        <ul class="submenu">
                            <li><a href="#">Fresh Produce</a></li>
                            <li><a href="#">Snacks</a></li>
                            <li><a href="#">Beverages</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <div class="category-item">
                            <span>Books</span>
                            <span class="toggle-icon">+</span>
                        </div>
                        <ul class="submenu">
                            <li><a href="#">Fiction</a></li>
                            <li><a href="#">Non-Fiction</a></li>
                            <li><a href="#">Comics</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <div class="category-item">
                            <span>Home and Kitchen</span>
                            <span class="toggle-icon">+</span>
                        </div>
                        <ul class="submenu">
                            <li><a href="#">Furniture</a></li>
                            <li><a href="#">Cookware</a></li>
                            <li><a href="#">Appliances</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <div class="category-item">
                            <span>Electronics</span>
                            <span class="toggle-icon">+</span>
                        </div><ul class="submenu">
                            <li><a href="#">Phones</a></li>
                            <li><a href="#">Laptops</a></li>
                            <li><a href="#">Accessories</a></li>
                        </ul>
                    </li>
                </ul>
            </section>

            <section class="sidebar-section best-sellers">
                <h3>BEST SELLERS</h3>
                <a href="#" class="product-link">
                    <div class="best-seller-item">
                        <div class="small-img"></div>
                        <div class="best-seller-details">
                            <p>Brand - Product Name</p>
                            <div class="star-ratings">
                                {% include "svg/star-filled.svg" %}
                                {% include "svg/star-filled.svg" %}
                                {% include "svg/star-filled.svg" %}
                                {% include "svg/star-half.svg" %}
                                {% include "svg/star-nofill.svg" %}
                            </div>
                            <div class="best-seller-price">
                                <span>₱450.00</span>
                                <span>₱350.00</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="product-link">
                    <div class="best-seller-item">
                        <div class="small-img"></div>
                        <div class="best-seller-details">
                            <p>Brand - Product Name</p>
                            <div class="star-ratings">
                                {% include "svg/star-filled.svg" %}
                                {% include "svg/star-filled.svg" %}
                                {% include "svg/star-filled.svg" %}
                                {% include "svg/star-half.svg" %}
                                {% include "svg/star-nofill.svg" %}
                            </div>
                            <div class="best-seller-price">
                                <span>₱450.00</span>
                                <span>₱350.00</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="product-link">
                    <div class="best-seller-item">
                        <div class="small-img"></div>
                        <div class="best-seller-details">
                            <p>Brand - Product Name</p>
                            <div class="star-ratings">
                                {% include "svg/star-filled.svg" %}
                                {% include "svg/star-filled.svg" %}
                                {% include "svg/star-filled.svg" %}
                                {% include "svg/star-half.svg" %}
                                {% include "svg/star-nofill.svg" %}
                            </div>
                            <div class="best-seller-price">
                                <span>₱450.00</span>
                                <span>₱350.00</span>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="product-link">
                    <div class="best-seller-item">
                        <div class="small-img"></div>
                        <div class="best-seller-details">
                            <p>Brand - Product Name</p>
                            <div class="star-ratings">
                                {% include "svg/star-filled.svg" %}
                                {% include "svg/star-filled.svg" %}
                                {% include "svg/star-filled.svg" %}
                                {% include "svg/star-half.svg" %}
                                {% include "svg/star-nofill.svg" %}
                            </div>
                            <div class="best-seller-price">
                                <span>₱450.00</span>
                                <span>₱350.00</span>
                            </div>
                        </div>
                    </div>
                </a>

                
            </section>

            <section class="sidebar-section testimonials">
                <h3>Testimonials</h3>
                <div class="testimonial-card">
                    <div class="testimonial-img"></div>
                    <div class="testimonial-details">
                        <p>STEVEN EBREO</p>
                        <p>Backend Developer</p>
                    </div>
                </div>
                <div class="testimonial-card">
                    <div class="testimonial-img"></div>
                    <div class="testimonial-details">
                        <p>FAYE PETEROS</p>
                        <p>Frontend Developer</p>
                    </div>
                </div>
            </section>
        </aside>

        <div class="content-area">
            <section class="product-minimal-container">

                <div class="product-column">
                    <h3 class="main-title">Trending</h3>
                    <div class="minimal-item-container">
                        <a href="#" class="product-link">
                            <div class="minimal-item">
                                <div class="small-img"></div>
                                <div class="minimal-details">
                                    <p>Brand - Product Name</p>
                                    <p>Category</p>
                                    <div class="product-minimal-price">
                                        <span>₱450.00</span>
                                        <span>₱350.00</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-link">
                            <div class="minimal-item">
                                <div class="small-img"></div>
                                <div class="minimal-details">
                                    <p>Brand - Product Name</p>
                                    <p>Category</p>
                                    <div class="product-minimal-price">
                                        <span>₱450.00</span>
                                        <span>₱350.00</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-link">
                            <div class="minimal-item">
                                <div class="small-img"></div>
                                <div class="minimal-details">
                                    <p>Brand - Product Name</p>
                                    <p>Category</p>
                                    <div class="product-minimal-price">
                                        <span>₱450.00</span>
                                        <span>₱350.00</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-link">
                            <div class="minimal-item">
                                <div class="small-img"></div>
                                <div class="minimal-details">
                                    <p>Brand - Product Name</p>
                                    <p>Category</p>
                                    <div class="product-minimal-price">
                                        <span>₱450.00</span>
                                        <span>₱350.00</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="product-column">
                    <h3 class="main-title">New Arrivals</h3>
                    <div class="minimal-item-container">
                        <a href="#" class="product-link">
                            <div class="minimal-item">
                                <div class="small-img"></div>
                                <div class="minimal-details">
                                    <p>Brand - Product Name</p>
                                    <p>Category</p>
                                    <div class="product-minimal-price">
                                        <span>₱450.00</span>
                                        <span>₱350.00</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-link">
                            <div class="minimal-item">
                                <div class="small-img"></div>
                                <div class="minimal-details">
                                    <p>Brand - Product Name</p>
                                    <p>Category</p>
                                    <div class="product-minimal-price">
                                        <span>₱450.00</span>
                                        <span>₱350.00</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-link">
                            <div class="minimal-item">
                                <div class="small-img"></div>
                                <div class="minimal-details">
                                    <p>Brand - Product Name</p>
                                    <p>Category</p>
                                    <div class="product-minimal-price">
                                        <span>₱450.00</span>
                                        <span>₱350.00</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-link">
                            <div class="minimal-item">
                                <div class="small-img"></div>
                                <div class="minimal-details">
                                    <p>Brand - Product Name</p>
                                    <p>Category</p>
                                    <div class="product-minimal-price">
                                        <span>₱450.00</span>
                                        <span>₱350.00</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

               <div class="product-column">
                    <h3 class="main-title">Top Rated</h3>
                    <div class="minimal-item-container">
                        <a href="#" class="product-link">
                            <div class="minimal-item">
                                <div class="small-img"></div>
                                <div class="minimal-details">
                                    <p>Brand - Product Name</p>
                                    <p>Category</p>
                                    <div class="product-minimal-price">
                                        <span>₱450.00</span>
                                        <span>₱350.00</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-link">
                            <div class="minimal-item">
                                <div class="small-img"></div>
                                <div class="minimal-details">
                                    <p>Brand - Product Name</p>
                                    <p>Category</p>
                                    <div class="product-minimal-price">
                                        <span>₱450.00</span>
                                        <span>₱350.00</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-link">
                            <div class="minimal-item">
                                <div class="small-img"></div>
                                <div class="minimal-details">
                                    <p>Brand - Product Name</p>
                                    <p>Category</p>
                                    <div class="product-minimal-price">
                                        <span>₱450.00</span>
                                        <span>₱350.00</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="product-link">
                            <div class="minimal-item">
                                <div class="small-img"></div>
                                <div class="minimal-details">
                                    <p>Brand - Product Name</p>
                                    <p>Category</p>
                                    <div class="product-minimal-price">
                                        <span>₱450.00</span>
                                        <span>₱350.00</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> 
            </section>

            <section class="deal-of-the-day">
                <h3 class="main-title">Deal of the Day</h3>
                <div class="deal-container">
                    <div class="deal-img-container">
                        <div class="deal-img"></div>
                    </div>
                    <div class="deal-details">
                        <div class="big-star-ratings">
                            {% include "svg/star-filled.svg" %}
                            {% include "svg/star-filled.svg" %}
                            {% include "svg/star-filled.svg" %}
                            {% include "svg/star-half.svg" %}
                            {% include "svg/star-nofill.svg" %}
                        </div>
                        <h3>BRAND - PRODUCT NAME</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="deal-price">
                            <span>₱350.00</span>
                            <span>₱450.00</span>
                        </div>
                        <button class="add-to-cart-btn">ADD TO CART</button>

                        <div class="progress-bar-container">
                            <div class="progress-labels">
                               <span>ALREADY SOLD: <b>25</b> </span>
                               <span>AVAILABLE: <b>40</b></span> 
                            </div>
                            <div class="progress-bar-bg">
                                <div class="progress-bar-fill"></div>
                            </div>
                        </div>
                        <div class="timer-container">
                            <p>HURRY UP! OFFER ENDS IN:</p> 
                            <div class="timer-boxes">
                                <div class="time-box">360<span>days</span></div><div class="time-box">24<span>hours</span></div>
                                <div class="time-box">59<span>min</span></div><div class="time-box">0<span>sec</span></div> 
                            </div>                       
                        </div>
                    </div>
                </div>
            </section>

            <section class="main-product">
                <h3 class="main-title">Popular Lately</h3>
                <div class="main-product-container">
                    <a href="#" class="product-link">
                        <div class="main-product-item">
                            <div class="main-product-img"></div>
                            <div class="main-product-details">
                                <p>CATEGORY</p>
                                <p>Brand - Product Name</p>
                                <div class="star-ratings">
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-half.svg" %}
                                    {% include "svg/star-nofill.svg" %}
                                </div>
                                <div class="main-product-price">
                                    <span>₱450.00</span>
                                    <span>₱350.00</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>City</p>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="product-link">
                        <div class="main-product-item">
                            <div class="main-product-img"></div>
                            <div class="main-product-details">
                                <p>CATEGORY</p>
                                <p>Brand - Product Name</p>
                                <div class="star-ratings">
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-half.svg" %}
                                    {% include "svg/star-nofill.svg" %}
                                </div>
                                <div class="main-product-price">
                                    <span>₱450.00</span>
                                    <span>₱350.00</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>City</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product-link">
                        <div class="main-product-item">
                            <div class="main-product-img"></div>
                            <div class="main-product-details">
                                <p>CATEGORY</p>
                                <p>Brand - Product Name</p>
                                <div class="star-ratings">
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-half.svg" %}
                                    {% include "svg/star-nofill.svg" %}
                                </div>
                                <div class="main-product-price">
                                    <span>₱450.00</span>
                                    <span>₱350.00</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>City</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product-link">
                        <div class="main-product-item">
                            <div class="main-product-img"></div>
                            <div class="main-product-details">
                                <p>CATEGORY</p>
                                <p>Brand - Product Name</p>
                                <div class="star-ratings">
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-half.svg" %}
                                    {% include "svg/star-nofill.svg" %}
                                </div>
                                <div class="main-product-price">
                                    <span>₱450.00</span>
                                    <span>₱350.00</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>City</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product-link">
                        <div class="main-product-item">
                            <div class="main-product-img"></div>
                            <div class="main-product-details">
                                <p>CATEGORY</p>
                                <p>Brand - Product Name</p>
                                <div class="star-ratings">
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-half.svg" %}
                                    {% include "svg/star-nofill.svg" %}
                                </div>
                                <div class="main-product-price">
                                    <span>₱450.00</span>
                                    <span>₱350.00</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>City</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product-link">
                        <div class="main-product-item">
                            <div class="main-product-img"></div>
                            <div class="main-product-details">
                                <p>CATEGORY</p>
                                <p>Brand - Product Name</p>
                                <div class="star-ratings">
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-half.svg" %}
                                    {% include "svg/star-nofill.svg" %}
                                </div>
                                <div class="main-product-price">
                                    <span>₱450.00</span>
                                    <span>₱350.00</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>City</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product-link">
                        <div class="main-product-item">
                            <div class="main-product-img"></div>
                            <div class="main-product-details">
                                <p>CATEGORY</p>
                                <p>Brand - Product Name</p>
                                <div class="star-ratings">
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-half.svg" %}
                                    {% include "svg/star-nofill.svg" %}
                                </div>
                                <div class="main-product-price">
                                    <span>₱450.00</span>
                                    <span>₱350.00</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>City</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product-link">
                        <div class="main-product-item">
                            <div class="main-product-img"></div>
                            <div class="main-product-details">
                                <p>CATEGORY</p>
                                <p>Brand - Product Name</p>
                                <div class="star-ratings">
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-half.svg" %}
                                    {% include "svg/star-nofill.svg" %}
                                </div>
                                <div class="main-product-price">
                                    <span>₱450.00</span>
                                    <span>₱350.00</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>City</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product-link">
                        <div class="main-product-item">
                            <div class="main-product-img"></div>
                            <div class="main-product-details">
                                <p>CATEGORY</p>
                                <p>Brand - Product Name</p>
                                <div class="star-ratings">
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-half.svg" %}
                                    {% include "svg/star-nofill.svg" %}
                                </div>
                                <div class="main-product-price">
                                    <span>₱450.00</span>
                                    <span>₱350.00</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>City</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product-link">
                        <div class="main-product-item">
                            <div class="main-product-img"></div>
                            <div class="main-product-details">
                                <p>CATEGORY</p>
                                <p>Brand - Product Name</p>
                                <div class="star-ratings">
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-half.svg" %}
                                    {% include "svg/star-nofill.svg" %}
                                </div>
                                <div class="main-product-price">
                                    <span>₱450.00</span>
                                    <span>₱350.00</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>City</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product-link">
                        <div class="main-product-item">
                            <div class="main-product-img"></div>
                            <div class="main-product-details">
                                <p>CATEGORY</p>
                                <p>Brand - Product Name</p>
                                <div class="star-ratings">
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-half.svg" %}
                                    {% include "svg/star-nofill.svg" %}
                                </div>
                                <div class="main-product-price">
                                    <span>₱450.00</span>
                                    <span>₱350.00</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>City</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="product-link">
                        <div class="main-product-item">
                            <div class="main-product-img"></div>
                            <div class="main-product-details">
                                <p>CATEGORY</p>
                                <p>Brand - Product Name</p>
                                <div class="star-ratings">
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-filled.svg" %}
                                    {% include "svg/star-half.svg" %}
                                    {% include "svg/star-nofill.svg" %}
                                </div>
                                <div class="main-product-price">
                                    <span>₱450.00</span>
                                    <span>₱350.00</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>City</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </section>

        </div>
    </div>                       
{% endblock %}
</main>