{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
<title>FleaMart Home</title>
{% endblock %}



<main class="content-wrapper">
{% block body %}
    <div class="hero-img-container"></div>

    <div class="main-container"> 
        <aside class="sidebar">
            <section class="sidebar-section category-card">
            <h3>CATEGORY</h3>
                <ul class="category-list">
                    {% for category in categories %}
                        {% if category.parent_id is none %}
                        <li class="has-submenu">
                            <div class="category-item">
                                <a href="{{ url_for('products_page', category=category.id) }}">{{ category.name }}</a>
                                <span class="toggle-icon">
                                    {% include "svg/plus.svg" %}
                                </span>
                            </div>
                            <ul class="submenu">
                                {% for sub_category in categories %}
                                    {% if sub_category.parent_id == category.id %}
                                    <li><a href="{{ url_for('products_page', category=sub_category.id) }}">{{ sub_category.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>

            <section class="sidebar-section testimonials">
                <h3>Testimonials</h3>
                <div class="testimonial-card">
                    <div class="testimonial-img"></div>
                    <div class="testimonial-details">
                        <p>STEVEN EBREO</p>
                        <p>Backend Developer</p>
                    </div>
                </div>
                <div class="testimonial-card">
                    <div class="testimonial-img"></div>
                    <div class="testimonial-details">
                        <p>FAYE PETEROS</p>
                        <p>Frontend Developer</p>
                    </div>
                </div>
            </section>
        </aside>

        <div class="content-area">
    
            <section class="deal-of-the-day">
                <h3 class="main-title">Deal of the Day</h3>
                {% if deal_of_the_day %}
                <div class="deal-container">
                    <div class="deal-img-container">
                        <img src="{{ deal_of_the_day.thumbnail if deal_of_the_day.thumbnail else '' }}" alt="{{ deal_of_the_day.name }}" class="deal-img">
                    </div>
                    <div class="deal-details">
                        <div class="big-star-ratings single-star">
                            {% include "svg/star-filled.svg" %} <span>{{ deal_of_the_day.rating_avg }}</span>
                        </div>
                        <h3><a href="{{ url_for('product_page', product_id=deal_of_the_day.product_id) }}">{{ deal_of_the_day.brand }} - {{ deal_of_the_day.name }}</a></h3>
                        <p></p>
                        <div class="deal-price">
                            <span>₱{{ "%.2f"|format(deal_of_the_day.price) }}</span>
                        </div>
                        <form action="{{ url_for('add_to_cart') }}" method="POST">
                            <input type="hidden" name="product_id" value="{{ deal_of_the_day.product_id }}">
                            <button type="submit" class="add-to-cart-btn">ADD TO CART</button>
                        </form>
                        <div class="progress-bar-container">
                            <div class="progress-labels">
                               <span>AVAILABLE: <b>{{ deal_of_the_day.quantity_available }}</b></span> 
                            </div>
                            <div class="progress-bar-bg">
                                <div class="progress-bar-fill"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <p>There is no deal of the day available right now. Please check back later!</p>
                {% endif %}
            </section>

            <section class="main-product">
                <h3 class="main-title">Popular Lately</h3>
                <div class="main-product-container">
                    {% for product in popular_lately %}
                    <a href="{{ url_for('product_page', product_id=product.product_id) }}" class="product-link">
                        <div class="main-product-item">
                            <img src="{{ product.thumbnail if product.thumbnail else '' }}" alt="{{ product.name }}" class="main-product-img">
                            <div class="main-product-details">
                                <p>{{ product.category_name }}</p>
                                <p>{{ product.brand }} - {{ product.name }}</p>
                                <div class="star-ratings single-star">
                                    {% include "svg/star-filled.svg" %} <span>{{ product.rating_avg }}</span>
                                </div>
                                <div class="main-product-price">
                                    <span>₱{{ "%.2f"|format(product.price) }}</span>
                                </div>
                                <div class="city-container">
                                    <div class="city-icon">
                                        {% include "svg/location.svg" %}
                                    </div>
                                    <p>{{ product.city }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </section>

        </div>
    </div>                       
{% endblock %}
</main>