{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
<title>Register</title>
{% endblock %}

<main class="content-wrapper">
{% block body %}
    <div class="register-container">
        <h3>Sign Up</h3>
        <div class="register-options">
            <div class="register-card">
                <h3>USER</h3>
                <p>Sign up as a user to browse and purchase items, track your orders, save your favorite products to a wishlist, and manage your shipping addresses for a seamless checkout experience.</p>
                <a href="{{ url_for('register_user_page') }}">
                    <button class="create-btn">CREATE</button>
                </a>
            </div>
            <div class="register-card">
                <h3>MERCHANT</h3>
                <p>Create a merchant account to open your own storefront on FleaMart. You'll be able to list products, manage your inventory, view sales, and handle customer orders all in one place.</p>
                <a href="{{ url_for('register_merchant_page') }}">
                    <button class="create-btn">CREATE</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
</main>