{% extends "base.html" %}

{% block head %}
<title>Register</title>
{% endblock %}

{% block body %}
<div class="register-container">
    <h2>Register</h2>
    <form action="{{ url_for('register_page') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Register</button>
    </form>
    <a href="{{ url_for('login_page') }}">Login</a>

</div>
{% endblock %}