{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register-auth.css') }}">
<title>Authentication</title>
{% endblock %}

<main class="content-wrapper">
{% block body %}
    <div class="register-container">
        <h3>Create Account</h3>
        <form action="{{ url_for('register_page') }}" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <div class="password-container">
                <input type="password" name="password" placeholder="Password" required>
                <p>Password must be atleast 6 letters</p>
            </div>
            <input type="password" name="re_password" placeholder="Re-enter Password" required>
            <div class="btn-container">
                <button type="submit" class="button">
                    Register
                </button>
            </div>
        </form>
    </div>
{% endblock %}
</main>