{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register-user.css') }}">
<script src="{{ url_for('static', filename='js/register-user.js') }}" defer></script>
<title>Register</title>
{% endblock %}

<main class="content-wrapper">
{% block body %}
<div class="form-container">
    <div class="form-section left-section">
        <h3>Personal Details</h3>
        <form action="{{ url_for('register_user_page') }}" method="post" id="registrationForm">
            <div class="input-row">
                <input type="text" name="first_name" placeholder="First Name" class="light-input" required>
                <input type="text" name="last_name" placeholder="Last Name" class="light-input" required>
            </div>
            <input type="email" name="email" placeholder="user@example.com" class="light-input full-width" required>
            <input type="tel" name="phone_number" placeholder="Phone Number" class="light-input full-width" required>

            <div class="input-row">
                <div class="select-container light-style" id="genderSelect">
                    <div class="select-trigger">
                        <span class="trigger-text">Gender</span>
                        {% include "svg/arrow-right.svg" %}
                    </div>
                    <ul class="select-options">
                        <li data-value="Male">Male</li>
                        <li data-value="Female">Female</li>
                        <li data-value="Other">Other</li>
                    </ul>
                    <input type="hidden" name="gender" id="genderHiddenInput" required>
                </div>
                <input type="number" name="age" placeholder="Age" class="light-input" required>
            </div>

            <div class="btn-container-left">
                <a href="{{ url_for('register_page') }}">
                    <button type="button" class="btn-back">
                        {% include "svg/arrow.svg" %}
                        Back
                    </button>
                </a>
            </div>
        </form>
    </div>

    <div class="form-section right-section">
        <h3>Address Information</h3>
        <form>
            <input type="text" name="house_number" placeholder="House Number" class="dark-input full-width" form="registrationForm" required>
            <input type="text" name="street" placeholder="Street" class="dark-input full-width" form="registrationForm" required>

            <div class="input-row">
                <input type="text" name="city" placeholder="City" class="dark-input" form="registrationForm" required>
                <input type="text" name="postal" placeholder="Postal" class="dark-input" form="registrationForm" required>
            </div>
            <input type="text" name="additional_notes" placeholder="Additional Notes" class="dark-input full-width" form="registrationForm">
            
            <div class="btn-container-right">
                <button type="submit" id="nextButton" form="registrationForm">
                    Next
                    {% include "svg/arrow.svg" %}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
</main>