{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register-user.css') }}">
<title>Register</title>
{% endblock %}

<main class="content-wrapper">
{% block body %}
<div class="form-container">
    <div class="form-section left-section">
        <h3>Personal and Store Details</h3>

        <form>
            <div class="input-row">
                <input type="text" placeholder="First Name" class="light-input">
                <input type="text" placeholder="Last Name" class="light-input">
            </div>
            <input type="email" placeholder="user@example.com" class="light-input full-width">
            <input type="tel" placeholder="Phone Number" class="light-input full-width">
            <input type="text" placeholder="Store Name" class="light-input full-width">
            <div class="btn-container-left">
                <a href="{{ url_for('register_page') }}">
                    <button type="button" class="btn-back">
                        {% include "svg/arrow.svg" %}
                        Back
                    </button>
                </a>
            </div>
        </form>
    </div>

    <div class="form-section right-section">
        <h3>Address Information</h3>
        <form>
            <input type="text" placeholder="House Number" class="dark-input full-width">
            <input type="text" placeholder="Street" class="dark-input full-width">

            <div class="input-row">
                <input type="text" placeholder="City" class="dark-input">
                <input type="text" placeholder="Postal" class="dark-input">
            </div>
            <input type="text" placeholder="Additional Notes" class="dark-input full-width">

            <div class="btn-container-right">
                <a href="{{ url_for('register_auth_page')}}">
                    <button type="button">
                        Next
                        {% include "svg/arrow.svg" %}
                    </button>
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
</main>