{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
<title>Register</title>
{% endblock %}

<main class="content-wrapper">
{% block body %}
    <div class="register-container">
        <h3>Sign Up</h3>
        <div class="register-options">
            <div class="register-card">
                <h3>USER</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien.</p>
                <a href="{{ url_for('register_user_page') }}">
                    <button class="create-btn">CREATE</button>
                </a>
            </div>
            <div class="register-card">
                <h3>MERCHANT</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien.</p>
                <a href="{{ url_for('register_merchant_page') }}">
                    <button class="create-btn">CREATE</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
</main>